*{  
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    max-width: 1024px;
}

#backgroundContainer{
    background-image: url(../css/img/istockphoto-1160791767-1024x1024.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
}

#jokeContainer{
    background-color: beige;
    text-align: center;
    margin-right: 5%;
    width: 30%;
}

.form-check-inline{
    display: flex;
    justify-content: center;
}

i.bi.bi-emoji-frown, 
i.bi.bi-emoji-smile,
i.bi.bi-emoji-heart-eyes{
    color: black;
    background-color: yellow;
   
}

button.btn.btn-info{
    margin: 10px;
}