*{  
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    
}

.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url(../css/img/istockphoto-1160791767-1024x1024.jpg);
    width: 100%;
    height: 730px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: right;
}

.joke-container{
    background-color: beige;
    width: 30%;   
    margin-left: 20%; 
    text-align: center;
}


#joke{
    margin-top: 5%;
    padding-bottom: 10%;
}
#nextJoke{
    background-color: darkblue;
    color: cornflowerblue;
}

